body {
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: center;
    justify-content:center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: gray;
}

.contenedor {     
   width: 25em;
   height: 40em;

   display: flex;
   flex-direction: center;
   justify-content: right;
   align-items: center;

   background-color: purple;
   border-radius: .5em .5em 3.5em 3em;
    
}

.cuerpo {
    width: 24.5em;
    height: 40em;
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(219, 24, 219, 0.384);

    border-radius: .5em .5em 3.5em 3em;
}

.marcoPantalla {
    width: 20em;
    height: 18em;
    margin-top: 1em;
    

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

    background-color: rgb(43, 42, 42);
    border-radius: .5em .5em 1em 1em;
    
}

.pantalla {
    width: 12em;
    height: 12em;

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    
    background-color: lightgreen;

    border-radius: .5em .5em 1em 1em;
}

.imgG { 
   
    background-color: transparent;
    height: 12em;
    width: 12em;
}

#power {
    position: absolute;
    left: 39em;
}

#gameboy {
    position: absolute;
    bottom: 24em;
}

.botones {
    width: 22em;
    height:9em;

    background-color:  rgba(128, 0, 128, 0);
    ;    
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
}

.botonesHijos1 {
    width: 7.3em;
    height:6em;

    background-color: rgba(128, 0, 128, 0);
    
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.botonesHijos2 {
    width: 7.3em;
    height:9em;

    background-color: rgba(128, 0, 128, 0);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

/* me falta acomodar el nintendo debajo del marco*/

.nintendo {
    width: 7.3em;
    height: 7em;

    display: flex;
    justify-content: center;
    
    background-color: rgba(128, 0, 128, 0);
    font-weight: bold;
    border-radius: .5em;
    border: .2em black;
    
    
}

#nintendo2 {
    width: 7.3em;
    height: 7em;

    border: .5em black ;
    background-color: black(128, 0, 128, 0);
    border-color: black;
    border-radius: .5em;
}


.botonesHijos3 {
    width: 7.3em;
    height:6em;

    background-color: rgba(128, 0, 128, 0);
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botonesAB {
    width: 50%;
    height: 6em;

    background-color: rgba(128, 0, 128, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: .5em;
}

#botonesAB {
    flex-direction: row;
    align-items: flex-start;
}

.botonB {
    width: 3em;
    height: 3em ; 

    background-color: black;
    color: rgba(211, 211, 211, 0.418);

    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;

    border-radius: 2em;
}

.botonB2 {
    width: 2.8em;
    height: 2.8em ; 

    background-color: rgba(26, 24, 24, 0.664);
    color: rgba(211, 211, 211, 0.212);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 2em ; 
}

.botonA {
    width: 3em;
    height: 3em ; 

    background-color: black;
    color: rgba(211, 211, 211, 0.418);

    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    border-radius: 2em;
}

.botonA2 {
    width: 2.8em;
    height: 2.8em ; 
    

    background-color: rgba(26, 24, 24, 0.664);
    color: rgba(211, 211, 211, 0.212);

    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    border-radius: 2em;
}

.cruz {
    height: 2em;
    width:2.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    color: rgb(41, 39, 39);
    background-color: black;
    border-radius: .3em;
}

#cruzN {
    background-color:transparent;
}

#cruzSR {
    border-radius: unset;
}
.botonesSeleccion {
    width: 22em;
    height:10em;

    background-color:rgba(128, 0, 128, 0);
    
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.botonesSeleccion1 {
    width: 7.4em;
    height:10em;

    background-color: rgba(128, 0, 128, 0);
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: .5em;
}

#botonesSeleccion1 {
    background-color: rgba(128, 0, 128, 0);
}

.botonesSeleccion2 {
    width: 7.4em;
    height:10em;

    background-color:rgba(128, 0, 128, 0);
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: .5em;
}

.botonesSeleccionSS {
    width: 7.4em;
    height: 5em;
    

    background-color: rgba(128, 0, 128, 0);

    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content:center;

    border-radius: .5em;

    
}

#botonesSeleccionSSa {
    background-color: rgba(128, 0, 128, 0);
}

.botonesSeleccionSS4 {
    width: 3.5em;
    height: 1em;
    margin:.1em;

    background-color: black;

    display: flex;
    align-items:flex-end;
    justify-content: center;
    border-radius: 1em;
}

#botonS {
    width: 1em;
    height: 2em;

    border-radius: 1em;

    background-color: black;
}

.botonesSeleccionSS2 {
    width: 7.4em;
    height: 5em;

    background-color: rgba(128, 0, 128, 0);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:center;
    border-radius: .5em;
}

.botonesSeleccionSS3 {
    width: 7.4em;
    height: 5em;

    background-color: rgba(128, 0, 128, 0);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:center ;
    border-radius: .5em;
}


#select {
    font-size: .9em;
    font-weight: bolder;
    color: black;
}

#start {
    font-size: .9em;
    font-weight: bolder;
    color: black
}

#parlante {
    align-items: flex-end;
    justify-content: flex-end;
}

#cornetas {
    width: 6em;
    height: 6em;

    background-color: rgba(128, 0, 128, 0) ;

    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center ;
    border-radius: 1em;
}

.salidas {
    width: .5em;
    height: .5em;

    background-color: black;

    border-radius: 1em;

}

#no {
    background-color: rgba(12, 12, 12, 0.445);
}